.content-container {
	-moz-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow: inset 0 0 10px #00000077;
}

// content section
.page {
	padding: 20px 15px 20px;
	margin: 15px;
	min-height: 500px;
	.post-title {
		height: 5%;
	}
	.post-content {
		height: 78%;
		overflow: auto;
		p {
			word-wrap: break-word;
		}
		img {
			max-width: 100%;
		}
	}
	@media (max-width: 992px) {
		height: inherit;
		padding-top: 20px;
		.post-content {
			overflow: inherit;
		}
	}
}