ul.sermon-list {
	list-style-type: none;
	padding: 0;

	> li {
		position: relative;
		margin-top: 10px;

		> a {
			display: block;
			margin-left: 60px;
			padding: 5px 10px;
			color: inherit;
			text-decoration: none;
			transition: all .25s ease-in-out;

			&:hover {
				color: white;
				background-color: var(--background-light);
				text-decoration: none;

				> time {
					color: inherit;
				}
			}
			> img {
				position: absolute;
				left: 10px; top: 25px;
				margin: auto;

				&:hover {
					color: white;
				}
			}
			> strong {
				display: block;
				font-size: 1.2rem;
			}
			> time {
				transition: all .25s ease-in-out;
				font-size: 0.9rem;
				color: var(--text-lighten);
			}
			> p {
				display: inline;
			}
		}
	}
}