---
import BaseHead from "../components/BaseHead.tsx";
import Hero from "../components/Hero.tsx";
import PhotoSlideshow from "../components/PhotoSlideshow.tsx";
import { getConfig } from "helpers/config";
import WhatsOn from "components/WhatsOn";
import OurStory from "components/OurStory";

import "../styles/global.css";

const { url, site } = Astro;

const config = await getConfig();
---

<!doctype html>
<html lang="en" class="bg-light-background">
  <head>
    <BaseHead url={url} site={site} />
  </head>
  <body>
    <div class="flex flex-col gap-20 md:px-0">
      <Hero client:load />
      <WhatsOn client:load />
      <PhotoSlideshow photoGallery={config.photoGallery} />
      <OurStory client:load />
    </div>
  </body>
</html>
