---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import PhotoSlideshow from "../components/PhotoSlideshow.astro";
import Sections from "../components/Sections.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    <Header />
    <Hero />
    <PhotoSlideshow />
    <main>
      <Sections />
    </main>
    <Footer />
  </body>
</html>
