---
import BaseHead from "../components/BaseHead.tsx";
import { getConfig } from "helpers/config";
import SermonNav from "../components/SermonNav.tsx";
import SermonList from "../components/SermonList.tsx";
import RainbowBanner from "../components/RainbowBanner.tsx";
import { getSermons } from "helpers/sermons";

import "../styles/global.css";

const { url, site } = Astro;

const sermons = await getSermons();
---

<!doctype html>
<html lang="en" class="bg-light-background">
  <head>
    <BaseHead url={url} site={site} />
    <script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
  </head>
  <body>
    <div class="min-h-screen flex flex-col">
      <RainbowBanner
        className="fixed top-0 left-0 z-50 h-2 w-full"
        dir="horizontal"
      />
      <SermonNav client:load />
      <SermonList client:load sermons={sermons} />
    </div>
  </body>
</html>
