---
import SermonNav from "../components/SermonNav.tsx";
import SermonList from "../components/SermonList.tsx";
import RainbowBanner from "../components/RainbowBanner.tsx";
import { getSermons } from "helpers/sermons";
import BaseLayout from "layouts/BaseLayout.astro";

const sermons = await getSermons();
---

<BaseLayout title="Sermons">
  <div class="min-h-screen flex flex-col">
    <RainbowBanner
      className="fixed top-0 left-0 z-50 h-2 w-full"
      dir="horizontal"
    />
    <SermonNav />
    <SermonList client:load sermons={sermons} />
  </div>
</BaseLayout>
