---
import { getConfig } from "helpers/config";
import { PortableText } from "astro-portabletext";

const { footer } = await getConfig();
---

<footer class="bg-primary-darker px-4 py-6 text-white">
  <ul class="flex flex-wrap md:justify-evenly">
    {
      footer.map((x) => (
        <li class="py-5">
          <h3 class="mb-4 font-bold">{x.title}</h3>
          <div class="prose prose-sm prose-yellow text-white">
            <PortableText value={x.body} />
          </div>
        </li>
      ))
    }
  </ul>
  <p class="mr-4 mt-4 text-right text-xs text-gray-400">
    🛠 Designed and built by{" "}
    <a
      class="underline hover:text-gray-300 hover:no-underline"
      href="https://jon.haddow.me/"
    >
      Jon Haddow
    </a>
  </p>
</footer>
