---
import { getCollection } from "astro:content";
import FooterGroup from "./FooterGroup.astro";

const footerLinks = await getCollection("footerLinks");
---

<footer class="bg-primary-darker px-4 py-6 text-white">
  <ul class="flex flex-wrap md:justify-evenly">
    {
      footerLinks
        .sort((a, b) => a.data["footer-order"] - b.data["footer-order"])
        .map((x) => (
          <li class="py-5">
            <h3 class="mb-4 font-bold">{x.data.title}</h3>
            <FooterGroup render={x.render} />
          </li>
        ))
    }
  </ul>
  <p class="mr-4 mt-4 text-right text-xs text-gray-400">
    🛠 Designed and built by{" "}
    <a
      class="underline hover:text-gray-300 hover:no-underline"
      href="https://jon.haddow.me/"
    >
      Jon Haddow
    </a>
  </p>
</footer>
