---
import { getConfig } from "../helpers/config";
import { urlForImage } from "../sanity/urlForImage";

const { photoGallery } = await getConfig();

const images = photoGallery.map((x) => {
  return {
    url: urlForImage(x.image).maxWidth(200).url(),
  };
});
---

<script>
  // Every 5 seconds, show the next image in the gallery
  setInterval(() => {
    const gallery = document.getElementById("photo-slideshow");
    if (!gallery) {
      console.error("Gallery not found");
      return;
    }
    const currentImage = gallery.querySelector("li:not(.opacity-0)");
    if (!currentImage) {
      console.error("Current image not found");
      return;
    }
    const nextImage =
      currentImage.nextElementSibling ||
      gallery.querySelector("li:first-child");
    if (!nextImage) {
      console.error("Next image not found");
      return;
    }
    currentImage.classList.add("opacity-0");
    nextImage.classList.remove("opacity-0");
  }, 5000);
</script>

<section
  aria-hidden
  class="hidden md:flex h-80 w-full items-center justify-center bg-primary-dark p-8"
>
  <ul id="photo-slideshow" class="relative h-64 max-h-full w-full">
    {
      images.map((x, idx) => (
        <li
          class={`${
            idx === 0 ? "" : "opacity-0"
          } absolute inset-0 text-center w-fit m-auto h-64 transition-opacity duration-1000`}
        >
          <img src={x.url} alt="" class="w-auto h-full max-h-full" />
        </li>
      ))
    }
  </ul>
</section>
