---
import { PortableText } from "astro-portabletext";
import { getConfig } from "helpers/config";
import SermonManager from "./SermonManager.astro";

const {
  section: { _id, title, content, imageUrl },
} = Astro.props;

const { sermonManager } = await getConfig();
---

<section id={_id} class="m-auto max-w-xl px-4 py-8">
  <h2 class="mb-2 text-3xl">{title}</h2>
  <hr class="mb-2" />
  <div class="prose text-base font-light">
    <PortableText value={content} />
  </div>
  {sermonManager === title && <SermonManager />}
</section>
{
  imageUrl && (
    <div
      class="h-64 bg-cover bg-no-repeat shadow-lg saturate-200 bg-center"
      style={{ "background-image": `url(${imageUrl})` }}
    />
  )
}
